.page,
.swiper,
.main__wrapper-content {
	width: 100%;
}
.swiper {
	height: 235px;
	margin-top: 60px;
}
.burger__menu,
.header__logo img,
.swiper-button-next,
.swiper-button-prev,
.main__search,
.header__button,
.main__options-content svg,
.ward,
.main__news-mobile-btn,
.footer__social {
	display: none;
}
.header__mobile {
	display: grid;
	grid-auto-flow: row;
	grid-template: 60px / 93px 259px;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--bg-color-footer);
	position: fixed;
	z-index: 2;
	margin-top: -60px;
}
.header__mobile-logo img {
	height: 47px;
	padding-top: 5px;
}
.header__mobile-search,
.header__mobile-search input,
.header__mobile-search form,
.header__mobile-search button {
	background-color: rgba(255, 255, 255, -0.93);
}
.header__mobile-search-wrapper {
	display: inline-grid;
	grid-auto-flow: column;
	background-color: rgba(255, 255, 255, 0.07);
	border-radius: 7px;
	width: 234px;
	height: 38px;
}
.header__mobile-search {
	justify-self: self-start;
}
.header__mobile-search input {
	width: 166px;
	padding-left: 19px;
	color: var(--color-header-text);
}
.header__mobile-search button {
	order: 2;
	display: flex;
	align-items: center;
}
::placeholder {
	color: rgba(255, 255, 255, 0.2);
}
.menu__btn-mobile {
	top: 15px;
	right: 13px;
	width: 22px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	height: 2px;
}
.menu__btn > span::before {
	top: -7px;
}
.menu__btn > span::after {
	top: 7px;
}
.accordion,
.panel,
.panel a,
.active,
.accordion:hover {
	background-color: rgba(43, 43, 43, -0.5);
}
.menu__box {
	width: 233px;
	height: 752px;
	z-index: 2;
	padding: 30px 0px 0px 30px;
	top: 60px;
	background-color: rgba(43, 43, 43, 0.95);
}
.accordion {
	width: 100%;
	font-size: 18px;
}
.panel {
	width: 100%;
	margin-top: 23px;
	padding-left: 12px;
}
.panel a {
	font-size: 14px;
}
.panel p {
	margin-bottom: 8px;
}
#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::after {
	width: 20px;
}
#menu__toggle:checked ~ .menu__box {
	right: 0;
}
.header__title {
	margin-top: 55px;
}
.header__title p {
	font-size: 16px;
	line-height: 21.39px;
	margin-top: 7px;
	letter-spacing: 0px;
}
.header__title h1 {
	font-size: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: -20px;
}
span.swiper-pagination-bullet {
	width: 7px;
	height: 7px;
	margin: 0px 4.07px !important;
}
.main__title-top {
	margin: 58px 0 50px;
}
.main__title-top h2 {
	font-size: 18px;
}
.main__title-top p {
	font-size: 14px;
	width: 290px;
	margin: 0 auto;
}
.main__mobile-title {
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
}
.main__mobile-title h2 {
	display: block;
	font-weight: 600;
	text-align: center;
}
.main__title h2 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.main__vehicles {
	margin: 0px 0px 50px;
}
.main__btn {
	height: 50px;
	padding: 15px 0px 15px 30px;
	background-color: #525252;
	position: relative;
}
.main__btn a {
	font-size: 16px;
}
.main__vehicles-mobile-arrow {
	display: block;
	position: absolute;
	top: 17px;
	right: 25px;
}
.main__vehicles-all {
	background: url("../img/mobile/all.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__vehicles-crossovers {
	background: url("../img/mobile/crossovers.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__vehicles-sedan {
	background: url("../img/mobile/sedan-hatch.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__vehicles-sport {
	background: url("../img/mobile/sport-cars.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__vehicles-content,
.main__universe-lifestyle {
	grid-template: repeat(4, 285px) / 1fr;
	grid-gap: 0px;
}
.main__vehicles-all {
	grid-column: 1;
	grid-row: 1;
}
.main__vehicles-crossovers {
	grid-column: 1;
}
.main__options {
	height: 100%;
	grid-template: 27px repeat(3, 65px) / 300px;
	grid-gap: 9px;
	margin-bottom: 50px;
}
.main__options-content {
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 35px;
}
.main__options-content a {
	font-size: 16px;
}
.main__options-content svg {
	margin-bottom: 0px;
}
.main__news-content {
	grid-template: 235px 281px / 1fr;
	grid-gap: 0;
}
.main__options-content-mobile svg {
	display: block;
	margin-right: 23px;
}
.main__universe-lifestyle-innovation {
	background: url("../img/mobile/innovation.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__universe-lifestyle-design {
	background: url("../img/mobile/design.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__universe-lifestyle-sport {
	background: url("../img/mobile/sport.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__universe-lifestyle-history {
	background: url("../img/mobile/history.png") 0% 0% / contain;
	background-repeat: no-repeat;
}
.main__universe-lifestyle {
	margin-bottom: 50px;
}
.swiper__news {
	height: 100%;
	margin-bottom: 0px;
}
.main__news-info-text h2 {
	font-size: 16px;
	margin: 20px 0px 7px;
	line-height: 19px;
}
.main__news-info-text p {
	font-size: 14px;
	line-height: 20px;
}
.main__news-info-text p:first-of-type {
	font-size: 12px;
}
.main__news-info-text {
	width: 290px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.main__btn-mobile {
	display: block;
}
.footer {
	height: 476px;
}
.footer__wrapper {
	width: 315px;
	height: 100%;
}
.footer__sub {
	width: 315px;
	margin: 0 auto;
}
.footer__wrapper-sub {
	width: 100%;
	margin-left: 0px;
	grid-template: 64px / 31px 243px;
}
.footer__wrapper-sub a {
	font-size: 16px;
}
.footer__nav {
	display: none;
}
.footer__nav-info {
	width: 100%;
}
.footer__nav-info-list a {
	font-size: 16px;
	line-height: 29px;
}
.footer__nav-info ul {
	display: block;
}
.footer__social-mobile {
	width: 134px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.footer__copyright {
	width: 172px;
	font-size: 14px;
	line-height: 20px;
	margin: 20px auto;
}
.ward {
	right: 23px;
}
.footer__nav-mobile {
	margin: 24px 0px;
	height: 103px;
	display: block;
}
.accordion__btn-mobile {
	font-size: 16px;
	text-transform: none;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}
.accordion__panel-mobile {
	margin-top: 10px;
	margin-bottom: 0px;
}
