.page,
.swiper,
.main__wrapper-content {
	width: 100%;
}
.swiper {
	height: 235px;
}
.burger__menu,
.header__logo img,
.swiper-button-next,
.swiper-button-prev {
	display: none;
}
.header {
	margin-top: 60px;
}
.header__title {
	margin-top: 55px;
}
.header__title p {
	font-size: 16px;
	line-height: 21.39px;
	margin-top: 7px;
	letter-spacing: 1px;
}
.header__title h1 {
	font-size: 10px;
}



.main__vehicles-content,
.main__universe-lifestyle {
	grid-template: repeat(4, 285px) / 320px;
}
.main__vehicles-all {
	grid-column: 1;
	grid-row: 1;
}
.main__vehicles-crossovers {
	grid-column: 1;
}
.main__options {
	grid-template: repeat(3, 65px) / 300px;
}
.main__news-content {
	grid-template: 235px 326px / 320px;
	grid-gap: 0;
}
.footer__wrapper {
	width: 100%;
}